$white: #fff;
$black: #000;
$orange: #C9453B;


%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%gelasio-500 {
  font-family: 'Gelasio', sans-serif;
  font-weight: 500;
}

%gelasio-700 {
  font-family: 'Gelasio', sans-serif;
  font-weight: 700;
}